.titulo {
  align-items: center;
  display: flex;
  height: 110px;
  width: 5000px;
  position: absolute;
  left: 32%;
  top: 0px;
}
img {
  max-width: 90%;
  max-height: 55%;
}
#linea {
  border-top: 2px solid yellow;
  height: 2px;
  max-width: 2000px;
  padding: 0;
  margin: 20px auto 0 auto;
}

#datoscomprador {
  width: 600px;
  height: 340px;
  border-radius: 50px;
  background: rgb(245, 242, 242);
  left: 22%;
  top: 10%;
  position: relative;
  border: 1px solid black;
  box-shadow: 5px 10px 10px black;
}

#subtitulocomprador {
  width: 600px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 5px 10px 10px black;
  background: #ccc;
  padding-left: 12px;
}
.infocomprador {
  color: black;
  width: 100%;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 3px 2px rgb(70, 69, 69);
}

.form input {
  width: 300px;
  height: 20px;
  background: #ccc;
  color: black;
  border: grey 1px solid;
}

#save {
  width: 125px;
  height: 40px;
  position: absolute;
  left: 43%;
  top: 85%;
  border-radius: 50px;
  background: darkorange;
  color: white;
}
#datostarjeta {
  width: 600px;
  height: 500px;
  border-radius: 50px;
  background: rgb(245, 242, 242);
  left: 22%;
  top: 05%;
  position: relative;
  border: 1px solid black;
  box-shadow: 5px 10px 10px black;
}

#subtitulotarjeta {
  width: 600px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 5px 10px 10px black;
  background: #ccc;
  padding-left: 12px;
}
.infotarjeta {
  color: black;
  width: 100%;
  text-align: center;
  text-shadow: 1px 3px 2px rgb(70, 69, 69);
  position: relative;
  top: 15;
  background: #ccc;
}

img {
  max-width: 25%;
  max-height: 50%;
  box-shadow: 5px 10px 10px black;
}

.validar {
  width: 110px;
  height: 35px;
  position: absolute;
  left: 43%;
  top: 45%;
  border-radius: 50px;
  background: darkorange;
  color: white;
}

.pagar {
  width: 110px;
  height: 35px;
  position: absolute;
  left: 43%;
  top: 90%;
  border-radius: 50px;
  background: darkorange;
  color: white;
}
